{% extends 'base.html.twig' %}

{% block body %}
<h1>{% trans %}Kalendarz{% endtrans %}</h1>

<table class="table">
{% for event in events %}
  <tr>
    <th>{% trans %}Nazwa{% endtrans %}</th>
    <th>{{ event.name }} </a>
    <th>{% trans %}Data{% endtrans %}</th>
    <th>{{ diffs[loop.index - 1] }} </th>
  </tr>
{% endfor %}
</table>

<a href='/add/event'>{% trans %}Dodaj nowe wydarzenie{% endtrans %}</a>
{% endblock %}
