{% extends 'base.html.twig' %}

{% block body %}
<h1>{% trans %}Kategorie artykułów{% endtrans %}</h1>
<ul>

<ul>
{% for category in categories %}
  <li> <a href = '/show/category/{{category.ID}}'>{{ category.name }} </a>
{% endfor %}
</ul>

<br/>
<a href='/add/category'>{% trans %}Dodaj nową kategorię{% endtrans %}</a>
<br/>
<a href='/add/article'>{% trans %}Dodaj nowy artykuł{% endtrans %}</a></br>
{% endblock %}
