{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ category.name }}</h1>

<ul>
{% for article in category.articles %}
  <li><a href='/show/article/{{article.id}}'>{{ article.title }} </a></li>    
</table>
{% endfor %}
</ul>

<a href='/add/article'>{% trans %}Dodaj nowy artykuł{% endtrans %}</a></br>
<a href='/show/categories'>{% trans %}Powrót do listy kategorii{% endtrans %}</a>
{% endblock %}
