{% extends 'base.html.twig' %}

{% block body %}
<h1>{% trans %}Galerie{% endtrans %}</h1>
<ul>

{% for gallery in galleries %}
<table>
  <tr>
    <th>{% trans %}Nazwa{% endtrans %}</th>
    <th> <a href = '/show/gallery/{{ gallery.ID}}'>{{ gallery.name }} </a>
  </tr>
  <tr>
    <th>{% trans %}Opis{% endtrans %}</th>
    <th> {{ gallery.getDescription2 }} </th>
  </tr>
</table>
{% endfor %}
</ul>

<a href='/add/gallery'>{% trans %}Dodaj nową galerię{% endtrans %}</a>
{% endblock %}
