{% extends 'base.html.twig' %}

{% block body %}
<h1>Galerie</h1>
<ul>

{% for gallery in galleries %}
<table>
  <tr>
    <th>Nazwa</th>
    <th> <a href = '/show/gallery/{{ gallery.ID}}'>{{ gallery.name }} </a>
  </tr>
  <tr>
    <th>Opis</th>
    <th> {{ gallery.getDescription2 }} </th>
  </tr>
  <tr>
    <th>Images</th>
    <th> 
      <ul>
         {% for image in gallery.images %}
         <li> {{ image.name }} </li>
        {% endfor %}
      </ul>
    </th>
  </tr>
</table>
{% endfor %}
</ul>

<a href='/add/gallery'>{% trans %}Dodaj nową galerię{% endtrans %}</a>
{% endblock %}
