{% extends 'base.html.twig' %}

{% block body %}
<h1>Użytkownik</h1>
<table>
  <tr>
    <th>Username</th>
    <th> {{ user.username }} </th>
  </tr>
  <tr>
    <th>Haslo</th>
    <th> {{ user.password }} </th>
  </tr>
  <tr>
    <th>Email</th>
    <th> {{ user.email }} </th>
  </tr>
  <tr>
    <th>Roles</th>
    <th> 
      <ul>
         {% for role in user.roles %}
         <li> {{ role }} </li>
        {% endfor %}
      </ul>
    </th>
  </tr>

</table>

<a href='/show/users'>Powrót do listy użytkowników </a>
{% endblock %}
