<h1>Użytkownik</h1>
<table>
  <tr>
    <th>Login</th>
    <th> {{ user.login }} </th>
  </tr>
  <tr>
    <th>Haslo</th>
    <th> {{ user.password }} </th>
  </tr>
  <tr>
    <th>Email</th>
    <th> {{ user.email }} </th>
  </tr>
</table>

<a href='/show/users'>Powrót do listy użytkowników </a>
