<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Encyklopedia Roślin{% endblock %}</title>
    </head>
    <body>
        <div id='menu'>
        {% block sidebar %}
          <nav>
            <ul>
              <li><a href='/show/galleries'>{% trans %}Galeria{% endtrans %}</a></li>
              <li><a href='/show/categories'>{% trans %}Artykuły{% endtrans %}</a></li>
              <li><a href='/show/callendar'>{% trans %}Kalendarium{% endtrans %}</a></li>
              <li><a href='/show/users'>{% trans %}Użytkownicy{% endtrans %}</a></li>
              {% if userID is defined %}
                <li><a href='/show/user/{{userID}}'>{% trans %}Moje Konto{% endtrans %}</a></li>
              {% endif %}
            </ul>
          </nav>
        {% endblock %}
        </div>
        
        <div id ='change_language'>
        {% block change_language %}
          {% if app.request.getLocale() == 'en' %}
              <a href = '/change_language/pl'>Zmień język na polski</a>
          {% else %}
              <a href = '/change_language/en'>Change language to English</a>
          {% endif %}
        {% endblock %}
        </div>

        <div id="content">
            {% block body %}Tu będzie content{% endblock %}
        </div>

    </body>
</html>
