<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Encyklopedia Roślin{% endblock %}</title>
    </head>
    <body>
        <div id='menu'>
        {% block sidebar %}
          <nav>
            <ul>
              <li><a href='/show/galleries'>Galeria</a></li>
              <li><a href='/show/categories'>Artykuły</a></li>
              <li><a href='/show/callendar'>Kalendarium</a></li>
              <li><a href='/show/users'>Użytkownicy</a></li>
              {% if userID is defined %}
                <li><a href='/show/user/{{userID}}'>Moje Konto</a></li>
              {% endif %}
            </ul>
          </nav>
        {% endblock %}
        </div>
        
        <div id ='change_language'>
        {% block change_language %}
          {% if app.request.getLocale() == 'en' %}
              <a href = '/change_language/pl'>Change language to polish</a>
          {% else %}
              <a href = '/change_language/en'>Zmień język na angielski</a>
          {% endif %}
        {% endblock %}
        </div>

        <div id="content">
            {% block body %}Tu będzie content{% endblock %}
        </div>

    </body>
</html>
